<!-- <app-list-cart></app-list-cart> -->
<div class="vh-100 vw-100 d-flex align-items-lg-center align-items-end justify-content-center">

    <div class="flex-column-reverse d-flex flex-lg-row bg-transparent w-100 px-2 justify-content-between h-50 align-items-lg-center">
        <div style="flex: 1 1 auto; " class="flex-column d-flex h-100 shadow container-1">
            <div class="father rounded-top bg-secondary w-100 d-flex justify-content-around align-items-center">
                <button style="background: #10101a;"></button>
                <button style="background: #10131c;"></button>
                <button style="background: #929da3;"></button>
                <button style="background: #596270;"></button>
                <button style="background: #d2dbe0;"></button>
                <button style="background: #d1d7dd;"></button>
                
            </div>
            <div style="height: 85%; background-color: #101721;" class="container-1 rounded-bottom ">
                <div class="w-100 d-flex px-5 flex-column gap-3">
                    <div (click)="open(modalList, item)" *ngFor="let item of dataVideo" class="card-body  d-flex  border-bottom justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                            <button type="button" class="btn">
                                <i *ngIf="!(idVideo == item.id)" class="bi bi-play-fill text-white fs-5"></i>
                                <i *ngIf="idVideo == item.id" class="bi bi-pause-fill text-white fs-5"></i>

                            </button>
                            <h5 class="card-title text-white">{{item.name_category}}</h5>
                        </div>

                        <button type="button" class="btn">
                            <i class="bi text-white bi-plus-circle fs-2"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-2 flex-column d-flex h-100 shadow" style="flex: 1 1 50%;">
            <div style="height: 15%;" class="rounded-top">
                <ul class="d-flex p-0 align-items-center text-black text-uppercase fw-bold justify-content-around cursor w-100 h-100">
                    <li>{{titleVideo}}</li>
                </ul>
            </div>
            <div style="height: 85%;" class="video border-3 border border-dark rounded">
                <iframe *ngIf="urlVideo" width="100%" height="100%" [src]="urlVideo" [title]="titleVideo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen safe></iframe>
            </div>
        </div>

    </div>

</div>

<ng-template #modalList let-modal>
    <app-modal-list-video [modal]="modalOpen" [dataVideo]="itemData"></app-modal-list-video> 
</ng-template>
